<li class="advisor-message media">
    <span class="pull-left">
        <img {{bind-attr src=message.profileImageUrl}} class="img-circle media-object advisor-image" alt="Sample Image">
        <img {{bind-attr src=starRatingImageUrl}} alt="stars" border="0">
    </span>

    <div class="media-body">
        <h4 class="media-heading">{{message.advisorName}}
            <small><i>Posted on {{message.postedDate}} (8 seconds ago)</i></small>
        </h4>
        <span class="user-message inline-block">
            {{message.messageText}}
            {{#link-to 'chat' (query-params advisorid=message.advisorId userid=userId)}}Continue in free chat...{{/link-to}}
        </span>
    </div>
</li>
