<div class="col-sm-12 ask-keen-content">
  {{#if isQuestionSubmitted}}
      <h4>We promise you will get <span class="green">first</span> answer in less then a minute.</h4>

      <div class="panel panel-default">
          <div class="panel-body">
            <h2>{{questionAsked}}</h2>
          </div>
      </div>

      <small><i>Please be patient while our advisors {{#each advisor in advisorsTyping}}
          <b>{{advisor}}</b>,
      {{/each}} are replying... </i></small>
  {{else}}
      <h2>Ask <span class="hundreds-advisors">hundreds</span> Advisors just about anything!</h2>

      <div class="input-group input-group-lg">
          {{input-with-on-change class="form-control" type="text" maxlength="140" value=questionAsked
          placeholder="Type in your question..." onInputChange="onInputChange" startedTyping="startedTyping"}}
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit" {{action 'submitQuestion'}}>Ask</button>
            </span>
      </div>


      <!-- to be removed later since we will show after submitting the question-->
      <small><i>Please be patient while our advisors {{#each advisor in advisorsTyping}}
          <b>{{advisor}}</b>,
      {{/each}} are replying... </i></small>

  {{/if}}
    <br/>
    <br/>
    <br/>

  {{#if anyAnswerPresent}}
    <h3>Responses from our advisors:</h3>
    <br/>
    <ul class="media-list advisor-message-list">
      {{#each answer in answersFromAdvisors}}
        {{user-message message=answer userId=userId question=questionAsked}}
          <br/>
      {{/each}}
    </ul>
  {{/if}}
</div>


<!-- TODO: HTML content for emailid-->
