<div class="col-sm-12">
  {{#if isQuestionSubmitted}}
      <h2>You asked:</h2>
      <div class="panel panel-default">
          <div class="panel-body">
            {{questionAsked}}
          </div>
      </div>
  {{else}}
      <h2>Ask just about anything!</h2>
      <div class="input-group input-group-lg">
          {{input class="form-control" type="text" maxlength="140" value=questionAsked placeholder="Type in your question..."}}
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit" {{action 'submitQuestion'}}>Ask a <i>bunch</i> of Advisors
              </button>
            </span>
      </div>
  {{/if}}
    <br/>
    <br/>
    <br/>

    <h3>Responses from our advisors:</h3>
    <br/>
    <ul class="media-list advisor-message-list">
      {{#each message in messageFromAdvisors}}
        {{user-message action="startChat" message=message}}
          <br/>
      {{/each}}
    </ul>
</div>


<!-- TODO: HTML content for emailid-->
