<div class="advisor-dashboard-bg">
</div>
<div id="overlay-back"></div>
<div id="overlay">
  {{#just-notify source=whatsYourNameNotification class="position-center"}}
      <div class="text-center">
        {{focused-input class="form-control input-lg" value=advisorName placeholder="Your name?" }}
          <button {{bind-attr class=":btn :btn-primary  :save-name advisorName:enabled:disabled"}} {{action "saveAdvisorName"}}>
              Save
          </button>
          <button {{bind-attr class=":btn :btn-primary  :save-name"}} {{action "saveAdvisorName"}}>Get Random</button>
      </div>
  {{/just-notify}}

  {{#just-notify source=preQuestionNotification close="preQuestionFormClosed"}}
      <div class="text-center">
          <h4>{{preQuestionMessage}}</h4>
          <button {{bind-attr class=":btn :btn-primary nameEntered:enabled:disabled"}} {{action "checkItOut"}}>Check it out
          </button>
      </div>
  {{/just-notify}}
</div>


{{#just-notify source=questionFormNotification class="position-center" close="questionFormClosed"}}
    <div class="form-group">
        <div class="question">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <span {{bind-attr class=":glyphicon :glyphicon-ok :green canReply:visible:hidden"}} aria-hidden="true"></span>
          {{questionText}}
        </div>
      {{textarea rows="2" cols="32" class="form-control"  value=answer}}
      {{#if answer}}
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          <span class="see-that-you-are-typing">Right now they see that you are typing</span>
      {{/if}}


      {{#if canReply}}
          <div class="btn-reply">
              <button {{bind-attr class=":btn :btn-primary :form-control"}} {{action "sendReply"}}>
                  Reply
              </button>
          </div>
      {{else}}
          <div class="btn-reply">
              <button {{bind-attr class=":btn :btn-primary :form-control :disabled"}} {{action "sendReply"}}>
                  They are still typing... <span {{bind-attr class=":glyphicon :glyphicon-hourglass"}} aria-hidden="true"></span>
              </button>
          </div>
      {{/if}}


    </div>
{{/just-notify}}

